.button {
    padding:10px;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid #EEEEEE 1px;
    box-shadow: 3px;
    color: #00796B;
}

.button_activated {
    padding:10px;
    margin-top: 20px;
    background-color: #00796B;
    border-radius: 10px;
    border: solid #EEEEEE 1px;
    box-shadow: 3px;
    color: #FFFFFF;
}