span {
    font-size:0px;
}

.bombNumber {
    float:left;
    color: #00796B;
}

.time {
    float:right;
    color: #00796B;
}

.infos_board {
    margin:auto;
}

.icon {
    width:18px;
    height:18px;
}